.cart{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    /* gap: 1rem; */
    margin-top: 2rem;
    z-index: 100;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}
.lista{
   width: 80%; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0.4rem;
   font-size: smaller;
   background: #07060693;
   border-radius: 20px;
   box-shadow: 1px 1px 40px black;

}
.iconCart{
    justify-self: left;
    position: sticky;
    top: 1rem;
    /* overflow-y: auto; */
    background-color: rgb(98, 102, 102);
    border-radius: 10px;
    height: 3rem;
    width: 1.2rem;
    margin: 1rem;
    padding: 0.3rem;
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 101;
}

.listCart{
    display: flex;
    position: fixed; /* saca el carrito del flujo */
    top: 0;
    right: 0;
    height: 100vh;
    width: 16rem;
    padding: 1rem;
    /* box-shadow: -2px 0 10px rgba(0,0,0,0.2); */
    transition: transform 0.5s ease;
    z-index: 1;
}

.hide {
  transform: translateX(75%);
}

.show {
  transform: translateX(0);
}
.cartButtons{
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    width: 5rem;
    width: 100%;
}

/* .heatCart{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.heatCart div{
    margin-top: 1rem;
    margin-right: 1rem;
    max-width: 1.5rem;
    max-height: 3rem;
    transition: transform 0.3s ease;

}
.heatCart div:hover{
    transform: scale(1.5);
}

.show{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 1rem;

}

.hide{
    position: fixed;
    top: 0;
    right: -12rem;
    margin-right: 1rem;
}

.cartButtons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.verticalNav{

}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconCart{
    background-color: gray;
    width: 1rem;
    border-radius: 20px;
    font-weight: bolder;
    padding: 0.3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */