.heatCart{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.heatCart div{
    margin-top: 1rem;
    margin-right: 1rem;
    max-width: 1.5rem;
    max-height: 3rem;
    transition: transform 0.3s ease;

}
.heatCart div:hover{
    transform: scale(1.5);
}