.oculto{
    visibility: hidden;
}

.card-product{
    /* border: 2px solid white; */
    border-radius: 10px;
    box-shadow: 1px 5px 15px 10px rgb(29, 29, 29);
}

.imgCard{
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 10px;
    box-shadow: 2px 0px 5px 2px rgba(255, 0, 255, 0.274);
}