.cardProduct{
    max-width: 15rem;
    min-width: 12rem;
    border-radius: 20px;
    box-shadow: 2px 2px 5px fuchsia, -1px -1px 5px firebrick;
    padding: 1rem;
    position: relative;
    margin: 1rem;
}

.id{
    position: absolute;
    top: 0;
    
}